@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap/variables";

.Loan {

	padding: 15px;
	border: 1px solid #ccc;
	margin-top: 30px;
	min-height: 464px;

	&-story {
		margin-bottom: 0;
	}

	&-img {
		width: 100%;
	}
}

@media(min-width: $screen-lg-min) {
	.Loan {
		min-height: 510px;
	}
}
