@font-face {
	font-family: Roboto Slab;
	src: url("../fonts/RobotoSlab-Thin.ttf");
	font-style: normal;
	font-weight: 200;
}

@font-face {
	font-family: Roboto Slab;
	src: url("../fonts/RobotoSlab-Light.ttf");
	font-style: normal;
	font-weight: 300;
}

@font-face {
	font-family: Roboto Slab;
	src: url("../fonts/RobotoSlab-Regular.ttf");
	font-style: normal;
	font-weight: 400;
}

@font-face {
	font-family: Roboto Slab;
	src: url("../fonts/RobotoSlab-Bold.ttf");
	font-style: normal;
	font-weight: 500;
}
