.Modal {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 600px;
	transform: translate(-50%, -50%);
	background-color: #fff;
	padding: 15px;
	box-shadow: 10px 10px 30px 5px rgba(0,0,0,0.3);

	&:focus {
		outline: none;
	}

	&-close {
		width: 20px;
		height: 20px;
		cursor: pointer;
		float: right;

		&:hover {
			opacity: .8;
		}
	}
}