@import "../../styles/variables";

.Headline {
	margin: 0;
	color: $colorSecondary;
	font-size: 24px;
}

.Headline--loan {
	margin: 15px 0;
	cursor: pointer;
	text-decoration: underline;

	&:hover {
		text-decoration: none;
	}
}

.Headline--detail {
	margin-bottom: 15px;
}
