@import "../../styles/variables";

.Filters {
	margin-top: 55px;

	&-btn {
		margin-left: 15px;
		text-decoration: underline;
		cursor: pointer;
		color: $colorSecondary;

		&:hover {
			text-decoration: none;
		}
	}
}
